a {
    text-decoration: none;
}


ul,
li {
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    /* overflow-y: scroll; */
}

header {
    width: 100%;
    border-bottom: 1px solid #DEE2E6;
    position: fixed;
    top: 0;
    left: 0;
}

.Navbar {
    width: 60px;
    padding: 0px 0px;
}

.container-fluid {
    padding: 0px 18px;
}

.searchinputs {
    position: relative;
    padding: 0px 15px;
}

.searchinputs input {
    width: 230px;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: #F6F6F7;
    padding: 0 8px 0 35px;
    border-radius: 50px;
}

.serach-addon span {
    width: 27px;
    height: 27px;
    z-index: 9;
    border-radius: 5px;
    position: absolute;
    top: 4px;
    left: 23px;
    border: none;
}

.Navbar.Collapse .Nav.Link.in-icon {
    margin-left: 18px;
}

a.nav-link {
    background-color: #F6F7F8;
    border-radius: 8px;
    width: 36px;
    height: 36px;
    justify-content: center;
}

a:hover.in-icon path {
    color: #FF9F43;
}

.in-icon svg {
    height: 24px;
    width: 18px;
    color: #67748E;
}

a.in-icon.nav-link {
    margin-left: 18px;
}

.side-bar {
    width: 260px;
    background-color: transparent;
    z-index: 1001;
    padding-bottom: 30px;
    left: 0;
    border-right: 1px solid #E8EBED;
    position: fixed;
    top: 53px;
    height: 100%;
    overflow-y: scroll;
}

.side-bar .sidebar-menu {
    padding: 20px;
}

.pagebody-wrapper .side-bar .sidebar-menu ul li.active a svg {
    margin-right: 10px;
}

.pagebody-wrapper .side-bar .sidebar-menu ul li.active a {
    background: rgba(254, 159, 67, 0.08);
    border-radius: 5px;
    color: #FE9F43;
}

.pagebody-wrapper .side-bar ul .submenu-open ul {
    padding: 10px 0;
    border-bottom: 1px solid rgba(222, 226, 230, 0.5);
    display: block;
}

.pagebody-wrapper .side-bar .sidebar-menu ul li a {
    font-size: 500;
    font-size: 16px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
}

.pagebody-wrapper .side-bar .submenu a svg {
    margin-right: 10px;
}

.pagebody-wrapper .side-bar .submenu a span:hover {
    color: #FF9F43;
}

.side-bar .menu-arrow svg {
    display: flex;
    text-rendering: auto;
    font-size: 18px;
    line-height: 18px;
    background: rgba(27, 41, 80, 0.04);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 105px;
    transition: all 0.2s ease;
}

.side-bar .menu-arrow::before {
    border-top: 0;
    position: absolute;
    top: 5px;
    left: 5px;
    transform: rotate(-45deg);
    border-left: 0;
    border-right: 1px solid #67748E;
    border-bottom: 1px solid #67748E;
}

.pagebody-wrapper .side-bar .submenu-open ul li a svg {
    margin-right: 10px;
}

.pagebody-wrapper .side-bar .submenu-open ul li a {
    color: #67748E;
}

.pagebody-wrapper .side-bar .submenu-open ul li a:hover {
    color: #FE9F43;
}

.side-bar:hover.side-bar::-webkit-scrollbar-thumb {
    display: block;
}

.side-bar::-webkit-scrollbar-track {
    border-radius: 10px;
    display: none;
}

.side-bar::-webkit-scrollbar {
    width: 8px;
}

.side-bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(204, 204, 204) !important;
    display: none;
}

.page-wrapper {
    margin: 0px 0px 0px 260px;
    margin-top: 53px;
    transition: all 0.2s ease;
}

.content {
    padding: 25px;
}

.dash-widget {
    background: #fff;
    margin-bottom: 25px;
    border-radius: 6px;
    padding: 20px;
    border: 1px solid #E8EBED;
}

.dash-widgetimg {
    width: 48px;
    height: 48px;
    background: rgba(249, 110, 111, 0.12);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-widgetcontent {
    margin-left: 20px;
}

.dash-widgetcontent h6 {
    font-size: 14px;
    font-weight: 400;
    color: #212B36;
}

.dash-count {
    background-color: #FF9F43;
    color: #fff;
    min-height: 98px;
    width: 100%;
    border-radius: 6px;
    margin: 0 0 25px;
    padding: 20px;
}

.dash-img svg {
    height: 50px;
    width: 50px;
    transition: all 0.4s ease-out 0s;
}

.dash-img svg:hover {
    transform: scale(1.2);
}

.graph-sets ul li span {
    color: #637381;
    font-weight: 400;
    position: relative;
}

.graph-sets ul li span:after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-color: #28C76F;
    border-radius: 50px;
    top: 5px;
    left: -20px;
}

.graph-sets ul li span:after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50px;
    top: 5px;
    left: -20px;
}

.graph-sets ul li:last-child span:after {
    background-color: #EA5455;
}

.graph-sets ul li {
    margin-right: 35px;
}

.btn-white {
    background-color: #fff;
    border: 1px solid rgba(145, 158, 171, 0.32);
    color: #212B36;
    padding: 3px 10px;
    border-radius: 5px;
    min-width: 90px;
}

.dropdown-menu.show {
    transform: translate3d(0px, 41.6px, 0px);
}

.dropdown-toggle {
    color: #fff;
}

.dropdown-toggle .btn .btn-primary {
    background-color: transparent;
}

#dropdown-basic {
    background-color: transparent !important;
    color: black !important;
    border: none;
}

.table tbody tr .Products-imges img {
    min-width: 40px;
    width: 40px;
    height: 40px;
    border: 0;
    margin-right: 10px
}

.table tbody tr .Products-imges a {
    font-size: 14px;
    color: #212B36;
    font-weight: 500;
}

.table tbody tr td {
    padding: 10px;
    color: #637381;
    font-weight: 500;
    border-bottom: 1px solid #E9ECEF;
    vertical-align: middle;
    white-space: nowrap;
}

.circule {
    padding: 0px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.products input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid rgba(145, 158, 171, 0.32);
    border-radius: 5px
}

.form-group input[type=text] {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(145, 158, 171, 0.32);
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-submit {
    background-color: #4caf50;
    color: #fff;
}

.btn-cancel {
    background-color: #f44336;
    color: #fff;
    margin-left: 10px;
}

.image-upload {
    margin-top: 10px;
}

.image-uploads {
    border: 1px dashed #ddd;
    padding: 20px;
    text-align: center;
}

.image-uploads img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.page-header {
    margin-bottom: 25px;
}

.page-btn {
    background: #FF9F43;
    padding: 7px 15px;
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    border-radius: 7px;
}

.page-btn a img {
    filter: brightness(0) invert(1);
}

.product-image img {
    height: 100px;
    width: 100px;
}

.login-wrapper {
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.login-content {
    padding: 30px;
}

.form-login {
    margin-bottom: 15px;
}

.login-userheading {
    margin: 0 0 30px;
}

.form-login label {
    width: 100%;
    color: #212B36;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

.form-addons {
    position: relative;
}

.login-wrapper .login-content .form-login input {
    width: 500px;
    height: 40px;
    border: 1px solid rgba(145, 158, 171, 0.32);
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.2s ease;
}

.login-wrapper .login-content .form-login .form-addons img {
    position: absolute;
    top: 16px;
    right: 57%;
}

.login-wrapper .login-content .form-login .btn-login {
    width: 500px;
    font-weight: 700;
    background: #FF9F43;
    border-color: #FF9F43;
    padding: 12px;
    transition: all 0.5s ease;
    margin-top: 15px;
    color: #fff;
}

.login-wrapper .login-content .form-login .btn-login:hover {
    box-shadow: 0 50px #fff inset !important;
    color: #FF9F43;
}

.form-01-main {
    background: url('https://img.freepik.com/free-vector/geometric-gradient-futuristic-background_23-2149116406.jpg?w=996&t=st=1709094134~exp=1709094734~hmac=6804add9366cadcc9d214d4e0aecd67cfa5a03f048de76c392f8ccca99ff1ae8');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
}

.form-coverr {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    top: 0;
    width: 100%;
    height: 500px;
    left: 0;
    z-index: -1;
    height: 100vh;
    overflow: auto;
}

.form-sub-main {
    color: #545454;
    font-size: 16px;
    margin-top: 5%;
}

.form-sub-main {
    max-width: 500px;
    width: 100%;
    display: block;
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 45px 60px 46px;
}

._main_head_as {
    margin: 20px 0 25px 0px;
    display: inline-block;
    z-index: 2;
    position: relative;
}

._main_head_as a img {
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 50px;
}

.form-labell {
    color: aliceblue;
}

.form-controll {
    min-height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 15px;
    background-color: transparent;
    color: #fff;
    max-width: 40%;
    align-items: center;
    margin-right: 50px;
    margin: 30px 0px;
}

.btn_uy {
    position: relative;
    z-index: 9;
    display: block;
    margin: 20px 0px;
}

.btn_uy button {
    padding: 10px 20px;
    background: #37a000;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    line-height: normal;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    max-width: 40%;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.btn_uy button:hover {
    background: #37a000;
}